@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-inc: hsl(163, 72%, 41%);
  --color-dec: hsl(356, 69%, 56%);

	--color-toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  --tint-facebook: hsl(208, 92%, 53%);
  --tint-twitter: hsl(203, 89%, 53%);
  --tint-instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --tint-youtube: hsl(348, 97%, 39%);

  --ff: "Inter", sans-serif;
}

* {
  margin: 0;
  font-family: var(--ff);
}

body {
	min-width: 320px;
	color: var(--color-primary);
	background: var(--color-background);
}

header {
	padding: 1em;
	position: relative;
}

@media screen and (max-width: 600px) {
	header::after {
		content: '';
		position: absolute;
		bottom: -1.1em;
		opacity: 0.5;
		height: 1px;
		width: 100%;
		background: var(--color-secondary);
	}
}

.header-wrapper {
	margin: auto;
	/* margin-inline: 2em; */
	max-width: 1200px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 600px) {
	.header-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}
}

h3,
h6 {
	color: var(--color-primary);
}

.section-header {
	max-width: 1200px;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-inline: auto;
	padding-left: 1em;
}

/* Large dashboard cards */
.card-large-wrapper {
	max-width: 1200px;
	margin: auto;
  display: grid;
  grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1em;
}

.card {
  background: var(--color-card-background);
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	transition-duration: 200ms;
	width: clamp(25ch, 50%, 30ch);
	margin: auto;
	padding: 1em;
}

.card-large {
  display: flex;
  flex-direction: column;
	align-self: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
	.card-large-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

@media screen and (min-width: 900px) {
	.card-large-wrapper {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	.card-large-wrapper {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
	}
}

.card-small:hover,
.card-large:hover {
	cursor: pointer;
	background: var(--color-card-background-hover);
	transform: scale(1.03);
	transition-duration: 200ms;
}

.card-large::before {
	display: block;
	content: '';
	width: 100%;
	position: absolute;
	top: -0.05em;
	height: 0.3em;
}

.card-large-facebook::before {
	background: var(--tint-facebook);
}

.card-large-twitter::before {
	background: var(--tint-twitter);
}

.card-large-instagram::before {
	background: var(--tint-instagram);
}

.card-large-youtube::before {
	background: var(--tint-youtube);
}

.card-large-link {
  display: flex;
  flex-direction: row;
  align-items: center;
	margin-block: 1em;
}

.card-large-username {
	margin-left: 0.5em;
	color: var(--color-primary);
}

.card-large-value {
	color: var(--color-primary);
}

.card-large-metric {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.card-large-change {
	margin-block: 1em;
}

.card-large-change::before {
	content: "";
  position: absolute;
	left: -1em;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

.card-large-change-inc {
  color: var(--color-inc);
  position: relative;
}

.card-large-change-inc::before {
	top:0;
  border-bottom-color: var(--color-inc);
}

.card-large-change-dec {
  color: var(--color-dec);
  position: relative;
}

.card-large-change-dec::before {
	bottom: 0;
  border-top-color: var(--color-dec);
}

.card-small {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}

.card-small > * {
	justify-self: center;
}

.card-small-left {
	align-self: center;
}

.card-small-right {
	align-self: center;
}

/* Dark Theme Toggle Switcher */
.toggle-container {
  display: flex;
	align-items: center;
	justify-self: end;
	margin-top: 1em;
	padding-right: 1em;
}

.toggle-container > * {
  width: 100%;
}

.toggle-text {
  font-size: 1em;
	padding-inline: 0.5em;
	width: max-content;
}

.toggle {
	position: relative;
	width: 4em;
	height: 2em;
}

.checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--color-toggle);
	--webkit-trransition-duration: 0.4s;
	transition-duration: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 1.5em;
	width: 1.5em;
	left: 0.25em;
	top: 0.25em;
	background-color: var(--color-background);
	--webkit-trransition-duration: 0.4s;
	transition-duration: 0.4s;
}

.checkbox:checked + .slider:before {
	transform: translateX(2em);
}

.slider.round {
	border-radius: 2em;
}

.slider.round:before {
	border-radius: 50%;
}

.attribution {
	margin-top: 1em;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}

.attribution a {
  color: var(--color-secondary);
	text-decoration: none;
}

.attribution a:hover {
	color: var(--color-primary);
}